# Kconfig files are for defining custom configuration options.
# A config option MY_FOO is available in code as a preprocessor define called CONFIG_MY_FOO.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config BLINK_INTERVAL_MS
    int "Sample configuration option to set the green LED blink interval in milliseconds."
    default 500

config PRESS_TIME_SHORT_MS
    int "Maximum duration of a short press."
    default 500

config ENV_SENSOR_CLIMATE_UPDATE_INTERVAL_MS
    int "Update interval of the climate sensor in milliseconds."
    default 1000

config MOCK_ENV_SENSORS
    bool "Mocks the environmental sensors because I2C is not working properly with new revision."
    default n

# ==================================================================================================
# ------------------------------------- Thread configuration ------------------------------------- #
# ==================================================================================================

# ---------------------------------------- Sender thread ----------------------------------------- #

config SENDER_THREAD_STACK_SIZE
    int "Thread stack size for sender thread."
    default 4096

config SENDER_THREAD_PRIO
    int "Thread stack size for sender thread."
    default 4
