# Kconfig files are for defining custom configuration options.
# A config option MY_FOO is available in code as a preprocessor define called CONFIG_MY_FOO.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config BLINK_INTERVAL_MS
    int "Sample configuration option to set the LED blink interval in milliseconds."
    default 500