// In an overlay file you can define alternate configurations for your applications.
// You can, for example, enable or disable specific peripherals or remap them to different pins.

// In our case the board description provided lacks the AHT20 sensor which is the replacement for
// the Bosch BME280.

&uext_i2c {
    pinctrl-0 = <&i2c1_scl_pa9 &i2c1_sda_pa10>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;
    timings = <48000000 I2C_BITRATE_FAST 0x1080111C>;

    bme280: bme280@77 {
        // This sensor is no longer soldered on the board.
        status = "disabled";
    };

    iis2mdc0: iis2mdc@1e {
        // This is the magnetometer which we will enable here as well.
        compatible = "st,iis2mdc";
        status = "okay";
        reg = <0x1e>;
        drdy-gpios =  <&gpioa 8 GPIO_ACTIVE_HIGH>;
    };

    aht20: aht20@38 {
        // This is the new environmental sensor.
        compatible = "aosong,aht20";
        reg = <0x38>;
        status = "okay";
    };
};

/ {
    aliases {
        magnetometer = &iis2mdc0;
        climate-sensor = &aht20;
    };
};
