# Kconfig files are for defining custom configuration options.
# A config option MY_FOO is available in code as a preprocessor define called CONFIG_MY_FOO.

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu

config SENSOR_UPDATE_INTERVAL_MS
    int "Sensor update interval in milliseconds"
    range 500 86400000
    default 2000

config SENSOR_THREAD_STACK_SIZE
    int "Size of the sensor thread stack"
    default 2048

config SENSOR_THREAD_PRIO
    int "Priority of the sensor thread."
    default 10

config COMM_THREAD_STACK_SIZE
    int "Size of the comm thread stack"
    default 2048

config COMM_THREAD_PRIO
    int "Priority of the comm thread."
    default 10

config COMM_MSGQ_SIZE
    int "Size of the comm module message queue."
    default 4

config TEMPERATURE_MAX_GOOD
    int "Maximum temperature (in degrees celsius) which is considered good."
    default 20

config TEMPERATURE_MAX_OKAY
    int "Maximum temperature (in degrees celsius) which is considered okay."
    default 25